
@media screen and (max-width: 768px) {
    .header {
        &__official {
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .catalog {
        &__content {
            justify-content: center;
        }
    }
    .catalog-item {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 576px) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            text-align: center;
            font-size: 30px;
        }
        &__subheader {
            text-align: center;
            font-size: 18px;
            margin-top: 10px;
        }
        &__icons {
            max-width: 100%;
        }
    }
    .advantage {
        &__items {
            flex-direction: column;
        }
        &__item-text {
            max-width: 100%;
        }
    }
    .consultation {
        &__title {
            font-size: 26px;
            line-height: 36px;
            text-align: center;
        }
        &__descr {
            max-width: 100%;
            text-align: center;
        }
    }
    .feed-form {
        margin: 36px auto 0;
    }
    .catalog {
        &__tab {
            font-size: 14px;
        }
    }
    .reviews {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__item-content {
            max-width: 100%;
            margin-left: 0;
            margin-top: 40px;
        }
        &__item-title {
            text-align: center;
            font-size: 22px;
        }
        &__item-descr {
            text-align: center;
            font-size: 16px;
        }
        &__item-text {
            margin-top: 15px;
            p {
                text-align: center;
                font-size: 18px;
            }
        }
    }
}